.container-registro{
	min-height:80vh;
	width:60%;
	text-align:center;
	text-justify:center;
	margin-left:20%;
}
.container-index{
		min-height:76vh;
}

.container-carrito{
		min-height:79.15vh;
}
.container-productos{
		min-height:81vh;
}
.container-perfil{
		min-height:80vh;
}
.container-login{
		min-height:78.4vh;
}
.container-detalle{
		min-height:79.15vh;
}
.logindiv{
	margin:0 auto;
	text-align:center;
	min-height:40vh;
	width:70%;
}
.inputpass, 
.inputemail{
	margin-top:5vh;
	
}
